
td {
  border-top: 2px #808080 solid;
}

.th_task_name {
  width: 150px;
}

.th_content {
  width: 450px;
}

.th_created_at {
  width: 150px;
}

.th_deadline {
  width: 150px;
}

.th_status {
  width: 100px;
}

.th_priority {
  width: 80px;
}
