
.label, .input {
  display: block;
}

input[type="text"] {
  border-radius: 5px;
  width: 500px;
  height: 30px;
}

textarea {
  width: 500px;
  height: 150px;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
  }
